<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smchoi.matzip.mappers.IMemberMapper">
    <insert id="insertUser"
            parameterType="com.smchoi.matzip.entities.member.UserEntity">
        insert into matzip_member.users(id, nickname, registered_on)
        values (#{id},
                #{nickname},
                ifnull(#{registeredOn}, default(registered_on)))
    </insert>

    <select id="selectUserById"
            resultType="com.smchoi.matzip.entities.member.UserEntity">
        select id            as id,
               nickname      as nickname,
               registered_on as registerdOn
        from matzip_member.users
        where id = #{id}
        limit 1
    </select>

</mapper>